{% extends "base.html" %}
{% block title %}
<title>Show Orders</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-3">📦 Product Orders</h2>

  <table class="table table-dark table-hover w-75 m-auto text-center">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Address</th>
        <th>Payment</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for product in orders %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ product.product_name }}</td>
        <td>₹{{ product.product_price }}</td>
        <td>{{ product.product_quan }}</td>
        <td>{{ product.address }}</td>
        <td>{{ product.payment_mode }}</td>
        <td>
          <a href="{% url 'update_url' product.id %}" class="btn btn-warning btn-sm">✏️ Update</a>
        </td>
        <td>
            <form action="{% url 'cancel_url' product.id %}" method="POST" style="display:inline;" onsubmit="return confirm('Do you want to delete this record?');">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm">🗑️ Delete</button>
            </form>
            
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8">No orders found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
